<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-header h4 texto-ênfase-secundário text-center">Finalizar Compra</div>
        <div class="card-body">
          <form (ngSubmit)="finalizarCompra()">
            <div class="row mb-3">
              <div class="form-group col-md-12">
                <label for="formaDePagamento" class="form-label">Forma de Pagamento:</label>
                <select class="form-select border border-secondary-subtle border-1" aria-label="Selecione a forma de pagamento" id="formaDePagamento" name="formaDePagamento" [(ngModel)]="formaSelecionada">
                  @for(forma of formasDePagamento; track forma){
                    <option value="{{forma.tipoFormaPagamento}}">{{ forma.tipoFormaPagamento }}</option>
                  }
                </select>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-primary">Finalizar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
