* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --verdePrincipal: #3BD87A;
  --offWhite: #efe8e8;
  --cinzaClaro: #d8d8d8e3;
  --amarelo: #ffffaa;
}

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 32px;
}

button, .btn {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

label, td {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

input {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

th {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
}